.communityMain{
    width: 95%;
    height: 93vh;
    background-color: var(--community-background);
    .container1{
        color: #1a1a1a;
        .heading{
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;
            h2{
                font-family: sans-serif;
                color: var(--community-heading);
            }
            p{
                font-size: 13px;
                font-family: sans-serif;
                color: var(--community-heading);
            }
        }
        @media screen and (max-width: 500px) {
            .heading{
                margin: 0px 20px;
            }
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 25px;
        .content{
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: center;
            .template{
                display: flex;
                align-items: center;
                width: 25%;
                gap: 20px;
                .imgcontainer1{
                    background: #e1f9f9;
                    padding: 13px;
                    border-radius: 9px;

                    img{
                        width: 30px;
                    }
                }
                .imgcontainer2{
                    background: #fff1bc;
                    padding: 14px 4px 10px 4px;
                    border-radius: 9px;
                    img{
                        width: 50px;
                    }
                }
                .imgcontainer3{
                    background: #f7e2ee;
                    padding: 13px;
                    border-radius: 9px;
                    img{
                        width: 30px;
                    }
                }

                h4{
                    font-family: sans-serif;
                    font-size: 13px;
                    font-weight: 800;
                    color: var(--community-boxHead);
                }
                p{
                    font-size: 13px;
                    font-family: system-ui;
                    font-weight: 500;
                    color: var(--community-boxPara);
                }
            }
            @media screen and (max-width: 500px) {
                .template{
                    width: 80%;
                }
            }
        }
        @media screen and (max-width: 500px) {
            .content {
                flex-direction: column;
            }
        }
        .button{
            button{
                background: #4845c9;
                color: white;
                padding: 8px 50px;
                border: none;
                border-radius: 5px;
                font-family: system-ui;
                font-weight: 700;
            }
            @media screen and (max-width: 500px) {
                padding: 5px 40px;
            }
        }
    }
    @media screen and (max-width: 500px) {
        .container{
            text-align: center;
        }
    }

}
@media screen and (max-width: 500px) {
    .communityMain {
        width: 100%;
    }
}