.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 25%;
        height: 50%;


        .logo {
            display: flex;
            align-items: center;
            gap: 7px;

            img{
                width: 8%;
                @media screen and (max-width: 500px) {
                    width: 10%;
                }
            }
            h2{
                font-family: sans-serif;
                color: #898989;
                font-size: 21px;
                font-weight: 700;
                user-select: none;
            }
        }

        .username{
            display: flex;
            gap: 13px;
            font-size: 16px;
            align-items: center;

            .left{
                color: #6c6c6c;
                cursor: pointer !important;
            }
            .uname{
                font-family: system-ui;
                font-size: 15px;
            }
        }

        .heading{
            display: flex;
            flex-direction: column;
            gap: 12px;

            h2{
                font-size: 25px;
                font-family: system-ui;
                user-select: none;
            }

            .visible{
                font-family: system-ui;
                font-size: 15px;
            }
            .disable {
                display: none;
            }
        }

        .input{
            input {
                border: none;
                border-bottom: 1px solid #4cacef;
                padding: 6px 0px;
                font-size: 14px;
                font-family: sans-serif;
                outline-style: none;
                width: 100%;
            }
        }

        .detail {
            font-size: 12px;
            font-family: system-ui;
        }

        .btn {
            position: relative;
            height: 12%;
            @media screen and (max-width: 500px) {
                margin-top: 30px;
            }


            .active {
                float: right;
                padding: 7px 40px;
                border: none;
                color: white;
                background: #0074a3;
                cursor: pointer;
            }
            .loader {
                img{
                    width: 11%;
                    position: absolute;
                    right: 8px;
                }
            }

            .unactive{
                display: none;
            }
        }

        .auth{
            font-family: system-ui;
            font-size: 13px;
            color: #0086d7;
            font-weight: 400;
            cursor: pointer;

        }
        .signin{
            font-family: system-ui;
            font-size: 13px;
            font-weight: 400;

            span{
                color: #0086d7;
                cursor: pointer;
                font-size: 14px;
            }

        }
        span{
            color: #0086d7;
            cursor: pointer;
            font-size: 14px;
            font-family: system-ui;
        }

        .disable {
            display: none
        }

        @media screen and (max-width: 500px) {
            width: 80%;
        }

        #invalid{
            display: block;
            color: red;
        }
        #valid {
            display: none;
        }
    }
}