.messages {
  background-color: var(--message-block);
  height: 70%;
  overflow: auto; 
  padding: 10px; 
}

@media screen and (max-width: 500px)  {
  .messages {
    height: 75%;
  }
}

.userMessage {
  background: var(--sendermessage);
  margin-bottom: 5px; 
  padding: 13px;
  border-radius: 5px;
  clear: both; 
  float: right; 
  max-width: 70%; 
  right: 50px;    
  position: relative;
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  
  &:last-child {
    margin-bottom: 0; 
  }

  @media screen and (max-width: 500px)  {
    margin-bottom: 9px; 
    padding: 10px;
    right: 20px;
  }
  
  span {
    font-size: 11px;
    color: var(--message);
    font-family: sans-serif;
    display: block; 
    margin-bottom: 6px; 
  }

  p {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0; 
    color: var(--message);
    @media screen and (max-width: 500px)  {
      font-size: 15px;
    }
  }

}
.receiverMessage {
  background: var(--receivermessage);
  margin-bottom: 5px; 
  padding: 13px;
  border-radius: 5px;
  clear: both; 
  float: left; 
  max-width: 70%; 
  left: 50px;    
  position: relative;
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  
  &:last-child {
    margin-bottom: 0; 
  }

  @media screen and (max-width: 500px)  {
    margin-bottom: 9px; 
    padding: 10px;
    right: 20px;
  }
  
  span {
    font-size: 11px;
    color: var(--message);
    font-family: sans-serif;
    display: block; 
    margin-bottom: 6px; 
  }

  p {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0; 
    color: var(--message);
    @media screen and (max-width: 500px)  {
      font-size: 15px;
    }
  }

}

::-webkit-scrollbar {
  width: 4px;
  margin-right: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(158, 158, 158); 
  border-radius: 100px;
  width: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b; 
}
