.dark-mode{

    // Navbar
    --navbar: #0c0c0c;
    --navigation: #141414;
    --navigation-font: rgb(219, 219, 219);
    --navigation-icon: rgb(219, 219, 219);
    --navigation-hover: #6f87ff;
    --navigation-activity-hover: #0c0c0c;
    --navigationleftBorder: #141414;

    //Main color
    --main: #4845c9;

    // contact list 
    --contact-list: #141414;
    --contact-list-shadow: #000000;
    --border-bottom: black;
    --contact-list-heading: rgb(219, 219, 219);
    --contact-list-name: #4b4b4b;
    --contact-name: rgb(219, 219, 219);
    --contact-latest-message: rgb(151, 151, 151);
    --contact-hover: #252525;

    //message
    --contact-list-message: rgb(235, 235, 235);
    --message-block: #1f1f1f;
    --message-shadow: #000000;
    --sendermessage: #313285;
    --receivermessage: #353535;
    --main-buttons: #4445c8;
    --border: black;
    --message: #e9e9e9;
    --receiver-name: rgb(219, 219, 219);
    --receiver-icons: rgb(219, 219, 219);
    --message-input: #1f1f1f;
    --message-input-border: #515151;
    
    //landing page
    --font: rgb(219, 219, 219);
    --landingPage-send: #5f5db9;
    --landingPage-receiver: #5b5b5b;

    //Calendar
    --calendar-home: #1f1f1f;
    --calendar-heading: rgb(219, 219, 219);
    --calendar-google: #6c83f8;
    --calendar-mymeeting: #424242;
    --calendar-mymeeting-hover: #5e5e5e;
    --calendar-mymeeting-font:rgb(219, 219, 219);
    --calendar-mymeeting-border: #1f1f1f;

    // community
    --community-background: #1f1f1f;
    --community-heading: white;
    --community-boxHead: #bfbfbf;
    --community-boxPara: #747474;
}
.light-mode{

    // Navbar
    --navbar: #414790;
    --navigation: #ebebeb;
    --navigation-font: #575252;
    --navigation-icon: #878787;
    --navigationleftBorder: #ebebeb;
    --navigation-hover: #4845c9;
    --navigation-activity-hover: #f5f5f5;

    // Main color
    --main: #4845c9;

    // contact list 
    --contact-list: #f0f0f0;
    --contact-list-shadow: #b7b7b7;
    --border-bottom: #e3e3e3;
    --contact-list-heading: #393939;
    --contact-list-name: #595959;
    --contact-name: #595959;
    --contact-latest-message: #535353;
    --contact-hover: white;

    //message
    --contact-list-message: #535353;
    --message-block: #f5f5f5;
    --sendermessage: #e7ebfa;
    --receivermessage: white;
    --main-buttons: #4445c8;
    --border: black;
    --message: #535353;
    --receiver-name: black;
    --receiver-icons: #494949;
    --message-input: white;
    --message-input-border: #d5d5d5;

    --font: black;
    --landingPage-send: #2c2b59;
    --landingPage-receiver: #ffffff;

    //Calendar
    --calendar-home: #f5f5f5;
    --calendar-heading: black;
    --calendar-google: #4445c8;
    --calendar-mymeeting: white;
    --calendar-mymeeting-hover: f5f5f5;
    --calendar-mymeeting-font: #313131;
    --calendar-mymeeting-border: #d3d3d3;


    // community
    --community-background: #f5f5f5;
    --community-heading: black;
    --community-boxHead: #303030;
    --community-boxPara: black;
}
// :root{
//     --navbar: #414790;
//     --navigation: #ebebeb;
//     --navigation-font: #575252;
//     --navigation-icon: #878787;
//     --main: #4845c9;
//     --contact-list: #f0f0f0;
//     --contact-list-heading: #393939;
//     --contact-list-name: #595959;
//     --contact-list-message: #535353;
//     --message-block: #f5f5f5;
//     --sendermessage: #e7ebfa;
//     --receivermessage: white;
//     --main-buttons: #4445c8;
//     --border: black;
// }