*{
    --fc-event-bg-color: #ffffff;
    --fc-event-border-color: #ffffff;
}
.mycalender{
    height: 89%;

    .fc-media-screen{
        height: 100%;
    }

    .fc-scrollgrid-section-body{
        .fc-scrollgrid-sync-table{
            display: none;
        }
    }

    .fc-scrollgrid-section{
        .fc-timegrid-divider{
            display: none;
        } 
    }

    .fc{
        .fc-header-toolbar {
            margin: 6px 9px 6px 23px;

            @media screen and (max-width: 500px) {
                margin: 6px 8px 8px 8px;
            }

            .fc-toolbar-chunk{

                @media screen and (max-width: 500px) {
                    gap: 1px;
                }

                .fc-toolbar-title{
                    font-size: 15px;
                    font-family: sans-serif;
                    color: var(--calendar-heading);
                }
                .fc-toolbar-title:hover{
                    color: #4845c9;
                    cursor: pointer;
                }

                .fc-today-button{
                    background: none;
                    color: var(--calendar-heading);
                    padding: 0;
                    border: none;
                    font-size: 15px;
                    font-family: sans-serif;
                }
                .fc-today-button:hover{
                    color: #4845c9;
                    cursor: pointer;
                }

                .fc-prev-button{
                    border: none;
                    background: none;
                    padding: 0;

                    .fc-icon{
                        color: #8b8b8b;
                    }

                    .fc-icon:hover{
                        color: #4845c9;
                    }
                }
                .fc-next-button{
                    border: none;
                    background: none;
                    padding: 0;

                    .fc-icon{
                        color: #8b8b8b
                    }
                    .fc-icon:hover{
                        color: #4845c9;
                    }
                }

                .workMode{
                    color: var(--calendar-heading);
                }
            }
        }
        .fc-timegrid-body{
            width: 100% !important;

            .fc-timegrid-slots{
                width: 100%;

                table{
                    width: 100% !important;
                }
            }
        }
        .fc-timegrid-slot{
            height: 2.5em;
        }
        .fc-timegrid-slot-label-frame{
            color: #595959
        }
        //fc-timegrid-slot fc-timegrid-slot-lane fc-timegrid-slot-minor
        // .fc-timegrid-slot-lane:hover{
        //     background-color: #fcfcfc;
        // }

        .fc-day-today{
            background-color: var(--calendar-today-event);
        }

        .fc-col-header{
            height: 3.5rem;
        }

        .fc-scrollgrid-sync-inner{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;

            .fc-col-header-cell-cushion{
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-left: 12px;

                @media screen and (max-width: 500px) {
                    margin-left: 4px;
                    padding: 0px;
                }

                p{
                    font-size: 13px;
                    color: var(--calendar-font);
                    font-family: sans-serif;
                }
                span{
                    font-size: 25px;
                    font-weight: 400;
                    color: var(--calendar-font);
                    font-family: system-ui;
                }
                @media screen and (max-width: 500px) {
                    p{
                        font-size: 10px;
                    }
                    span{
                        font-size: 20px;
                    }
                }
            }
        }

        .fc-timegrid-now-indicator-line{
            border-width: 2px 0px 0px;
        }

        //Scroll bar css

        .fc-scroller-harness{
            background-color: #4745c900;
            .fc-scroller::-webkit-scrollbar {
                width: 7px;
                background-color: #ffffff00;
            }   

            .fc-scroller::-webkit-scrollbar-thumb {
                background-color: #cbcecf;
                border-radius: 20px;
                background-clip: content-box;
              }
        }

        //Calendar Type css
        .fc-toolbar-chunk {
            display: flex;
            gap: 15px;

            div{
                display: flex;
                gap: 8px;
                color: #424242;
                font-size: 15px;
                cursor: pointer;

                p{
                    font-family: sans-serif;
                }
            }

            div:hover{
                color: #4845c9;
            }
        }

        .fc-event-time{
            display: none;
        }

        
        
        .fc-v-event .fc-event-title-container {
            border-left: 4px solid #4e56b5;
            background-color: #e2e2f6;
            border-radius: 4px;

            .description {
                padding: 0px 0px 0px 5px;
                color: #616093;
                font-family: system-ui;
                font-size: 12px;
                margin-top: -4px;
            }

        }
        .fc-v-event .fc-event-title {
            padding: 5px;
            color: #2f3056;
            font-weight: bold;
            font-family: system-ui;
            font-size: 12px;
        }
        .fc-v-event .highlight{
            background-color: #464775;
            .fc-event-title{
                color: white;
            }
            .description {
                color: white;
            }
        }

        .fc-view-harness{
            .fc-view{
                .fc-scroll-grid{
                    border: 1px solid var(--border);
                }
            }
        }

        .fc-view-harness {
            .fc-view{
                .fc-scrollgrid{
                    border: 1px solid var(--fc-border-color);
                }
            }
        }
    }
    .no-search input{
        display: none;
    }

    
}

@media screen and (max-width: 500px) {
    .mycalender {
        height: 93%;
    }
}