*{
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}
.userSection {
  width: 100%;;
  height: calc(100vh - 50px);
  position: relative;
  top: 50px;
  display: flex;
}

@media screen and (max-width: 500px) {
  .userSection {
    flex-direction: column;
    /* height: 95%;
    top: 5%; */
    height: 100%;
    top: 0px;
  }
}