.message {
    width: 75%;
    background-color: var(--message-block)   ;
    box-shadow: 2px 0px 12px 0px var(--message-shadow);
}


// when message renders for a perticular user
@media screen and (max-width: 500px)  {
    .message{
        display: none;
    }
    .mobileMessage{
        width: 100%;
        height: 92%;
        position: relative;
    }
}